<div id="password_all" class="info_modify_content">
  <div id="password_word">
    비밀번호 변경
  </div>
  <div id="password_sub_word">
    변경할 비밀번호를 입력해주세요
  </div>

  <div id="nickname_all">
    <div id="nickname_word">
      현재비밀번호
    </div>
    <input id="nickname_input" type="text" name="" placeholder="현재 비밀번호를 입력해주세요">
  </div>

</div>
