<div id="password_all" class="info_modify_content">
  <div id="password">
  <div id="password_word">
    비밀번호 변경
  </div>
  <div id="password_sub_word">
    변경할 비밀번호를 입력해주세요
  </div>

  <div id="cpassword_all">
    <div id="cpassword_word">
      현재 비밀번호
    </div>
    <input id="cpassword_input" type="password" name="" placeholder="현재 비밀번호를 입력해주세요">
  </div>

  <div id="npassword_all">
    <div id="npassword_word">
      새로운 비밀번호
    </div>
    <input id="npassword_input" type="password" name="" placeholder="새로운 비밀번호를 입력해주세요">
  </div>

  <div id="rpassword_all">
    <div id="rpassword_word">
      비밀번호 확인
    </div>
    <input id="rpassword_input" type="password" name="" placeholder="변경할 비밀번호를 한번 더 입력해주세요">
  </div>

  <div id="password_save">
    저장하기
  </div>
  </div>

  <div id="social_login">
    <div id="social_login_word">
      소셜 로그인 하셨습니다.
    </div>
  </div>
</div>

<script>

firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    //페이스북 로그인이면 비밀번호 변경 안됨
    if(user.providerData[0].providerId == "facebook.com"){
      $('#password').css('display','none');
    }
    //비밀번호 변경
    $('#password_save').click(function (){
      var cpassword = $('#cpassword_input').val();
      var npassword = $('#npassword_input').val();
      var rpassword = $('#rpassword_input').val();
      var credential;

      var user_re = firebase.auth().currentUser;
      var credentials = firebase.auth.EmailAuthProvider.credential(user.email,cpassword);


      user_re.reauthenticateWithCredential(credentials).then(function() {
        if(npassword.length < 6){
          alert('비밀번호는 6자 이상이어야합니다.');
          return false;
        }else if(npassword != rpassword){
          alert('입력한 비밀번호가 다릅니다.');
          return false;
        }else{
          user_re.updatePassword(npassword).then(function() {
            alert('비밀번호가 변경되었습니다');
            location.href = '/info';
          }, function(error) {
          })
        }
      }, function(error){
        alert('현재 비밀번호를 잘못입력하셨습니다.');
        return false;
      });
    })
  }else{
    //유저가 없으면
  }
});
</script>
