<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <h1><%= title %></h1>

      <ul>
        <% cats.forEach(function(item) {%>
          <li> <%= item.title %> </li>
          <li> <%= item.name %> </li>

        <% }); %>
      </ul>

      <img src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040001/17/07/0400011707_111123_0213.gif">
  </body>
</html>
