<!--인기 공연 인클루드-->
<div id="famefestival_word">

  <div id="famefestival_title">
    인기 페스티벌
  </div>

  <a id="famefestival_more" href="##">
    <div id="famefestival_more_word">
      더보기
    </div>
    <div id="famefestival_more_arrow" style="background-image:url('/image/famefestival/arrow_right.png')">

    </div>
  </a>

</div>


<!-- famefestival -->
<swiper id="famefestival" v-cloak :options="swiperOption">
  <swiper-slide class="famefestival" v-for="fest in famousFestivals" v-if="famousFestivals" :key="fest.fid">
      <a class="famefestival_link" v-bind:href="'/festival/' + fest.fid">

        <div class="famefestival_image" v-bind:style="{'background-image' :'url(' + fest.image + ')'}">
        </div>

        <div class="famefestival_info">

          <div class="famefestival_title">
            {{fest.title}}
          </div>

          <div class="famefestival_date">
            {{moment(fest.from).format('MM/DD')}} ~ {{moment(fest.until).format('MM/DD')}}
          </div>

          <div class="famefestival_genre">
            <span v-for="genre in fest.genres">
              {{genre.genre }}
            </span>
          </div>

        </div>

      </a>
  </swiper-slide>
</swiper>

<!-- Initialize famefestival -->
<script>
  Vue.use(window.VueAwesomeSwiper);

  var fameFestival = new Vue({
    el: '#famefestival',
    data: {
      famousFestivals: null,
      swiperOption: {
        slidesPerView: 5,
        slidesPerColumn: 1,
        spaceBetween: 10,
        freeMode: true,
        breakpoints: {
          499: {
            slidesPerView: 2.2
          },
          699: {
            slidesPerView: 3.2
          },
        }
      }
    },
    created: function () {
      this.getFamousFestivals();
    },
    methods: {
      getFamousFestivals: function () {
        $.ajax({
          type: 'GET',
          url: gachi.GACHI_URL + 'v1/festival/list',
          data: {
            page: 1,
            type: 'going'
          },
          dataType: 'json'
        }).then(function (festivals) {
          this.famousFestivals = festivals;
        }.bind(this)).fail(function (error) {
          console.error(JSON.stringify(error));
        })
      },
      moment: function (date) {
        return moment(date);
      }
    },
  });

</script>