<!--인기 공연 인클루드-->
<div id="famefestival_word">

  <div id="famefestival_title">
    인기 페스티벌
  </div>

  <a id="famefestival_more" href="##">
    <div id="famefestival_more_word">
      더보기
    </div>
    <div id="famefestival_more_arrow" style="background-image:url('/image/famefestival/arrow_right.png')">

    </div>
  </a>

</div>


<!-- famefestival -->
<div class="famefestival-container">
    <div class="famefestival-wrapper">

        <div class="famefestival-slide" v-for="fest in famefestivals2">
          <a class="famefestival_link" :href="'/' + fest.fid">

            <div class="famefestival_image"  v-bind:style="{ backgroundImage: 'url(' + fest.image + ')' }">
            </div>

            <div class="famefestival_info">

              <div class="famefestival_title">
                {{fest.title}}
              </div>

              <div class="famefestival_date">
                {{fest.from | formatDate}} ~ {{fest.until | formatDate}}
              </div>

              <div class="famefestival_genre">
                <span v-for="a in fest.genres">
                  {{a.genre}}
                </span>
              </div>

            </div>

          </a>
        </div>


      </div>
    </div>



          <script>
            var app = new Vue({
            el: '.famefestival-container',
            data: {
              famefestivals: [],
            },
            computed: {
              famefestivals2: function () {
                return _.orderBy(this.famefestivals, 'fid')
              }
            },
            created: function(){
              this.load();
            },
            methods: {
              load: function() {
                this.famefestivals = Array.apply(null, new Array(12)).map(Number.prototype.valueOf,0);
                axios.get('http://cuponthetop.com/gachi/api/v1/festival/list?page=1&type=default')
                .then(function (response){
                    app.famefestivals = response.data;
                })
                .catch(function (error) {
                  console.log(error);
                })
              },
            }

          });

          </script>

          <script>
          Vue.filter('formatDate', function(value) {
            if (value) {
              return moment(String(value)).format('MM/DD')
            }
          });
          </script>


<!-- Initialize famefestival -->
<script>
var famefestival = new famefestival('.famefestival-container', {
    slidesPerView: 5,
    paginationClickable: true,
    spaceBetween: 10,
    freeMode: true,
    breakpoints: {
      499: {
        slidesPerView:2.2
      },
      699: {
        slidesPerView:3.2
      },
    }
});
</script>
