<!--인기 공연 인클루드-->
<script>
  var info = {
    festival: [],
  }
</script>

<script>
    $.ajax({
      type: 'GET',
      data: {
      },
      url:"http://cuponthetop.com/gachi/api/v1/festival/list",
      async:false,
      }).done(function(data){
        console.log(data);
        info.festival = data;
      })
      console.log(info.festival);

      for(var i=0; i<info.festival.length; i++){
          console.log(info.festival[i].fid);
      }
</script>

<div id="famefestival_word">

  <div id="famefestival_title">
    인기 페스티벌
  </div>

  <a id="famefestival_more" href="##">
    <div id="famefestival_more_word">
      더보기
    </div>
    <div id="famefestival_more_arrow" style="background-image:url('/image/famefestival/arrow_right.png')">

    </div>
  </a>

</div>


<!-- famefestival -->
<div class="famefestival-container">
    <div class="famefestival-wrapper">

        <div class="famefestival-slide">
          <a class="famefestival_link" href="#">

            <div class="famefestival_image" style="background-image:url('/image/1.gif')">
            </div>

            <div class="famefestival_info">

              <div class="famefestival_title">
                아리아나 그란데 내한공연
              </div>

              <div class="famefestival_date">
                08.15 ~ 08.15
              </div>

              <div class="famefestival_genre">
                내한공연
              </div>

            </div>

          </a>
        </div>

        <div class="famefestival-slide">
          <a class="famefestival_link" href="#">

            <div class="famefestival_image" style="background-image:url('/image/2.gif')">
            </div>

            <div class="famefestival_info">

              <div class="famefestival_title">
                하이라이트 콘서트 부산 can you feel it can you
              </div>

              <div class="famefestival_date">
                08.15 ~ 08.15
              </div>

              <div class="famefestival_genre">
                내한공연
              </div>


            </div>

          </a>
        </div>

        <div class="famefestival-slide">
          <a class="famefestival_link" href="#">

            <div class="famefestival_image" style="background-image:url('/image/3.gif')">
            </div>

            <div class="famefestival_info">

              <div class="famefestival_title">
                아리아나 그란데 내한공연
              </div>

              <div class="famefestival_date">
                08.15 ~ 08.15
              </div>

              <div class="famefestival_genre">
                내한공연
              </div>


            </div>

          </a>
        </div>

        <div class="famefestival-slide">
          <a class="famefestival_link" href="#">

            <div class="famefestival_image" style="background-image:url('/image/4.gif')">
            </div>

            <div class="famefestival_info">

              <div class="famefestival_title">
                아리아나 그란데 내한공연
              </div>

              <div class="famefestival_date">
                08.15 ~ 08.15
              </div>

              <div class="famefestival_genre">
                내한공연
              </div>


            </div>

          </a>
        </div>

        <div class="famefestival-slide">
          <a class="famefestival_link" href="#">

            <div class="famefestival_image" style="background-image:url('/image/5.gif')">
            </div>

            <div class="famefestival_info">

              <div class="famefestival_title">
                아리아나 그란데 내한공연
              </div>

              <div class="famefestival_date">
                08.15 ~ 08.15
              </div>

              <div class="famefestival_genre">
                내한공연
              </div>


            </div>

          </a>
        </div>

</div>

<!-- famefestival JS -->
<script src="/js/main_page/famefestival/famefestival.js"></script>

<!-- Initialize famefestival -->
<script>
var famefestival = new famefestival('.famefestival-container', {
    slidesPerView: 5,
    paginationClickable: true,
    spaceBetween: 10,
    freeMode: true,
    breakpoints: {
      499: {
        slidesPerView:2.2
      },
      699: {
        slidesPerView:3.2
      },
    }
});
</script>
