#noti-list {
    font-family: 'Noto Sans KR', sans-serif;
}

#tab_all{
  width:100%;
  height:50px;
  line-height: 50px;
  border-bottom:1px solid #ececec;
}
.tab{
  width: calc(100% / 2);
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  float: left;
  text-align: center;
  border-bottom: 1px solid transparent;
  font-weight: 300;
  color: #686868;
  cursor: pointer;
}

.sent-label{
  display: none;
}

.received-label{
  display: none;
}

#noti-list{
  width:100%;
  height:auto;
}
