<!DOCTYPE html>
<html>

<head>

  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include ../common/common.ejs %>

  <link href="/css/notification/notification.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <% include ../nav/nav_level1.ejs %>

    <div id="chatroom-list">
      <div class="chatroom" v-for="room in chatrooms">
        <a v-bind:href="./room.leadroom_id">
          이동~
        </a>
      </div>
    </div>

    <script>
      var chatroomList = new Vue({
        el: '#chatroom-list',
        data: {
          chatrooms: []
        },
        created: function () {
          gachi.retrieveUserInfo(true).then(this.onUserLogin);
        },
        methods: {
          onUserLogin: function (user) {
            this.chatrooms = user.leadrooms;
          },
          moment: function (date) {
            return moment(date);
          }
        }
      });
    </script>
</body>

</html>