<!DOCTYPE html>
<html>

<head>
  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include ../common/common.ejs %>

  <link href="/css/detail/detail.css" rel="stylesheet" type="text/css" />
  <link href="/css/footer/footer.css" rel="stylesheet" type="text/css" />

  <script src="/js/common/common.js"></script>

</head>

<body>

  <% include ../nav/nav_level1.ejs %>

    <% include ../detail/detail-festival.ejs %>

    <% include ../footer/footer.ejs %>

      <script>
        var detail = new Vue({
          el: '#detail',
          data: {
            fetched: false,
            festival: { image: '' },
            showDetail: false,
            collapsible: false
          },
          created: function () {
            this.fetchFestivalInfo("<%=fid %>");
          },
          methods: {
            fetchFestivalInfo: function (fid) {
              $.ajax({
                type: 'GET',
                url: gachi.GACHI_URL + 'v1/festival/' + fid,
                dataType: 'json'
              }).then(function (festival) {
                console.log(festival);
                this.festival = festival;
                this.fetched = true;
              }.bind(this)).fail(function (error) {
                console.error(JSON.stringify(error));
              })
            },
            showMore: function () {
              $('#intro').css('height', 'auto');
              this.toggleDetail();
            },
            showLess: function () {
              $('#intro').css('height', '50px');
              this.toggleDetail();
            },
            toggleDetail: function () {
              this.showDetail = !this.showDetail;
            },
            moment: function (date) {
              return moment(date);
            }
          },
          updated: function () {
            this.collapsible = $('#intro')[0].scrollHeight > 50;
          },
          computed: {
            showMoreDiv: {
              get: function () {
                return !this.showDetail && this.collapsible;
              }
            },
            showLessDiv: {
              get: function () {
                return this.showDetail && this.collapsible;
              }
            },
            profile_image: function() {
              var profile_image;

              for(var i=0; i<detail.festival.leadrooms.length; i++){
                if (detail.festival.leadrooms[i].leader.profile_image){
                  profile_image = detail.festival.leadrooms[i].leader.profile_image;
                }else{
                  profile_image = '/image/info/noprofile.png';
                }
              }
              return profile_image;
            },
          }
        });
      </script>
</body>

</html>
