<!DOCTYPE html>
<html>

<head>
  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 타이틀
  2. 메타 태그
  3. 파비콘
  4. 제이쿼리
  5. 웹 폰트
  6. css
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
    -->

  <!--1 타이틀-->
  <title>가치 - 공연을 함께</title>

  <!--2 메타 태그-->
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="theme-color" content="#fff">
  <meta property="og:url" content="">
  <meta property="og.title" content="가치">
  <meta property="og:description" content="가치에서 공연을 가치즐겨보세요">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta content="telephone=no" name="format-detection">

  <!--3 파비콘-->
  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon" href="">

  <!--4 제이쿼리-->
  <script type="text/javascript" src="/jquery/jquery-1.12.4.min.js"></script>

  <!--5 웹 폰트-->
  <link href="" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
  <!--6-1-1 네비게이션 레벨1 css-->
  <link href="/css/nav/nav_level1.css" rel="stylesheet" type="text/css"/>

  <link href="/css/nav/nav_level2.css" rel="stylesheet" type="text/css"/>

  <link href="/css/nav/nav_level3.css" rel="stylesheet" type="text/css"/>

  <link href="/css/nav/nav_level4.css" rel="stylesheet" type="text/css"/>

  <link href="/css/detail/detail.css" rel="stylesheet" type="text/css"/>

  <!--6-2 인기 페스티벌 css-->
  <link href="/css/main_page/famefestival/famefestival.css" rel="stylesheet" type="text/css"/>
  <link href="/css/main_page/soonfestival/soonfestival.css" rel="stylesheet" type="text/css"/>

  <script type="text/javascript" src="/vue/vue.js"></script>
  <script type="text/javascript" src="/axio/axio.js"></script>
  <script type="text/javascript" src="/moment/moment.js"></script>
  <script type="text/javascript" src="/lodash/lodash.js"></script>

  <!-- famefestival JS -->
  <script src="/js/main_page/famefestival/famefestival.js"></script>
  <!-- soonfestival JS -->
  <script src="/js/main_page/soonfestival/soonfestival.js"></script>

  <!-- google firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script>
  var config = {
      apiKey: "AIzaSyDAAJDFPXgHl5SFjaV6HFiEOCWySb48lro",
      authDomain: "gachi-test.firebaseapp.com",
      databaseURL: "https://gachi-test.firebaseio.com",
      projectId: "gachi-test",
      storageBucket: "gachi-test.appspot.com",
      messagingSenderId: "48888243317"
    };
    firebase.initializeApp(config);

  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    // User is signed in.
    console.log('로그인함');
    console.log(user.email);
    console.log(user.uid);
    total_info.is_login=true;
    total_info.email = user.email;
  } else {
    console.log("로그인 안했음");
    // No user is signed in.
  }
  });

  var total_info = {
    is_login:false,
    email:"",
  }
  </script>
  <style media="screen">
    #nav_level1{
      margin-bottom:15px;
    }
  </style>
  </head>
  <body>

  <div id="detail_nav_all">
    <div id="detail_nav">
      <a id="gachi_logo" href="/">
        GACHI
      </a>
      <div id="gachi_title">

      </div>
      <div id="search_button">

      </div>
    </div>
  </div>


<div id="all">
  <div id="image_info_all">
    <div id="image_info">

      <div id="image_blur" v-bind:style="{ backgroundImage: 'url(' + info.image + ')' }">
      </div>
      <div id="filter">
      </div>

    </div>
    <div id="center">
      <div id="center_image" v-bind:style="{ backgroundImage: 'url(' + info.image + ')' }">

      </div>
      <div id="center_info">
        <div id="center_date">
          {{info.from | formatDate}} ~ {{info.until | formatDate}}
        </div>
        <div id="center_title">
          {{info.title}}
        </div>
        <div id="center_tag">
          <span v-for="a in info.genres">
            #{{a.genre}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div id="intro_head">
    정보
  </div>
  <div id="intro">
    {{info.detail}}
  </div>
  <div id="intro_foot">
    <div id="intro_more">
      더보기
    </div>
  </div>
</div>

    <script>
      var app = new Vue({
      el: '#all',
      data: {
        info: undefined,
      },
      created: function(){
        this.load();
      },
      methods: {
        load: function() {
          //this.famefestivals = Array.apply(null, new Array(12)).map(Number.prototype.valueOf,0);
          axios.get('http://cuponthetop.com/gachi/api/v1/festival/'+'<%=fid%>')
          .then(function (response){
              app.info = response.data;
          })
          .catch(function (error) {
            console.log(error);
          })
        },
      }

    });

    </script>

    <script>
    Vue.filter('formatDate', function(value) {
      if (value) {
        return moment(String(value)).format('YYYY.MM.DD')
      }
    });
    </script>
    <script>
    $('#intro_more').click(function(){
      $('#in').css('height','auto');
    })
    </script>
  </body>
</html>
