*{
  margin:0;
  padding:0;
}
#detail_nav_all{
  width:100%;
  height:47px;
}

#detail_nav{
  width:calc(100% - 40px);
  margin-left:auto;
  margin-right:auto;
  height:47px;
}

#gachi_logo{
  display:block;
  width:50px;
  height:47px;
  line-height: 50px;
  font-family: 'Baloo Bhaina', cursive;
  color:#242424;
  text-decoration: none;
  font-size:18px;
  float:left;
}



#image_info{
  width:100%;
  height:160px;
  overflow:hidden;
  position:relative;
}

#image_blur{
  position: absolute;
  width:100%;
  height:100%;

  background-size:cover;
  background-position: center;
  overflow:hidden;

  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
}

#filter{
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.18);
}

#center{
  margin-top:-95px;
  position: absolute;
  height:121px;
  left:50%;
  width:calc(100% - 40px);
  margin-left:-140px;
  width:90vw;
  margin-left:-45vw;
}

#center_image{
  width:100px;
  height:121px;
  z-index: 10;

  background-size:cover;
  background-position: center;
  overflow:hidden;
  float:left;
}

#center_info{
  width:170px;
  height:121px;
  float:right;
  position: relative;
  float:left;
  margin-left:15px;
  width:calc(100% - 115px);
}
#center_date{
  width:100%;
  height:20px;
  line-height: 20px;
  color:#fff;
  font-size:13px;
}
#center_title{
  width:100%;
  height:50px;
  color:#fff;
  font-size:18px;
  line-height: 25px;
}
#center_tag{
  position:absolute;
  bottom:0px;
  height:20px;
  width:100%;
}
#center_tag span{
  font-family: 'Noto Sans KR', sans-serif;
  color:#fff;
  background-color:#4f2cfa;
  font-size:10px;
  padding-left:5px;
  padding-right:5px;

  height:20px;
  line-height: 20px;
  border-radius: 10px;
  font-weight:300;
  display: block;
  float:left;
  margin-right:10px;
  padding-left:8px;
  padding-right:8px;
  width:auto;
}
#intro_head{
  width:calc(100% - 40px);
  margin-left:auto;
  margin-right:auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:500;
  height:30px;
  line-height: 30px;
  margin-top:50px;
}
#intro{
  width:calc(100% - 40px);
  margin-left:auto;
  margin-right:auto;
  height:100px;
  margin-top:10px;
  color:#888c92;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:14px;
  overflow: hidden;
}
#intro_foot{
  width:calc(100% - 40px);
  height:35px;
  margin-left:auto;
  margin-right:auto;
  border-bottom: 1px solid #ececec;
}
#intro_more{
  width:50px;
  margin-top:10px;
  height:15px;
  line-height: 15px;
  float:right;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  color:#888c92;
}

@media  screen and (min-width:466px){
  #center{
    width:466px;
    margin-left:-213px;
  }
}
