<!DOCTYPE html>
<html>

<head>

  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include ../common/common.ejs %>

  <!--6-2 인기 페스티벌 css-->
  <link href="/css/search/search_head/search_head.css" rel="stylesheet" type="text/css" />
  <link href="/css/search/search_result/search_result.css" rel="stylesheet" type="text/css" />

  <script src="/js/common/common.js"></script>
</head>

<body>

  <% include ../nav/nav_level1.ejs %>

    <div id="search_head">
      <span id="word1">
        '<%=term%>'
      </span>
      <span id="word2">
        검색결과
      </span>
      <span id="word3">
      </span>
    </div>

    <% include ../nav/nav_level3.ejs %>

      <div id="search_result">

        <a class="search_box" v-for="fest in searchfestivals">
          <div class="search_image" v-bind:style="{ backgroundImage: 'url(' + fest.image + ')' }">

          </div>
          <div class="search_info">
            <div class="search_title">
              {{fest.title}}
            </div>
            <div class="search_date">
              {{fest.from | formatDate}} ~ {{fest.until | formatDate}}
            </div>
            <div class="search_genre">
              <span v-for="a in fest.genres">
              {{a.genre}}
            </span>
            </div>
          </div>
        </a>

        <div style="clear:both;">

        </div>
      </div>

      <div id="no_search">
        <div id="no_search_head">
          <%=term%>에 대한 검색결과가 없습니다.</div>
        <ul>
          <li>단어의 철자가 정확한지 확인해주세요</li>
          <li>검색어의 단어 수를 줄이거나, 다른 검색어로 검색해보세요.</li>
          <li>더 일반적인 검색어로 다시 검색해 보세요.</li>
        </ul>
      </div>

      <script>
        $('#search').val('<%=term%>');
      </script>

      <script>
        var app = new Vue({
          el: '#search_result',
          data: {
            searchfestivals: [],
          },
          created: function () {
            this.load('<%=term%>');
          },
          methods: {
            load: function (term) {
              $.ajax({
                type: 'GET',
                url: gachi.GACHI_URL + 'v1/festival/search',
                data: {
                  page: 1,
                  term
                },
                dataType: 'json'
              })
                .then(function (response) {
                  app.searchfestivals = response;
                  $('#word3').html(response.length);
                  if (response.length == 0) {
                    $('#no_search').css('display', 'block');
                  }
                })
                .catch(function (error) {
                  console.log(error);
                })
            },
          }
        });
      </script>

      <script>
        Vue.filter('formatDate', function (value) {
          if (value) {
            return moment(String(value)).format('MM/DD')
          }
        });
      </script>


</body>

</html>