<!DOCTYPE html>
<html>

<head>
  <!--
    head에 기술하는 것은 다음 규칙에 따른다.
    1. 타이틀
    2. 메타 태그
    3. 파비콘
    4. 제이쿼리
    5. 웹 폰트
    6. css
    7. 페이지별 스타일 시트
    8. 구글 애널리틱스
    9. 페이스북 픽셀
      -->

  <!--1 타이틀-->
  <title>로그인</title>

  <!--2 메타 태그-->
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="theme-color" content="#fff">
  <meta property="og:url" content="">
  <meta property="og.title" content="가치">
  <meta property="og:description" content="가치에서 공연을 가치즐겨보세요">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta content="telephone=no" name="format-detection">

  <!--3 파비콘-->
  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon" href="">

  <!--4 제이쿼리-->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

  <!--6-1 회원가입CSS-->
  <link href="/css/auth/login.css" rel="stylesheet" type="text/css" />

  <!-- google firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>

  <script src="/js/common/common.js"></script>
  <script src="/js/common/firebase.js"></script>
  <script src="/js/common/login.js"></script>
  <script>
    gachi.initFirebaseApp();
    gachi.redirectIfLoggedIn();
  </script>

</head>

<body>

  <div id="login_all">
    <img id="gachi_logo" src="/image/gachi_logo1.png">

    <form id="login">
      <p>
        <label for="id_login"></label>
        <input autofocus="autofocus" id="email" name="email" placeholder="이메일을 입력해주세요" type="email" />
      </p>

      <p>
        <label for="id_password"></label>
        <input id="password" name="password" placeholder="비밀번호를 입력해주세요" type="password" />
      </p>

      <button class="primaryAction" type="submit">로그인</button>
    </form>


    <div id="reg_find">
      <a class="register" href="signup">회원가입</a>
    </div>

    <div class="social_all">
      <a id="facebook_login">
            <img src="/image/facebook_logo.png">
            <p>페이스북으로 로그인</p>
        </a>
    </div>
  </div>

  <script>
    $('form').submit(function () {
      var email = $('#email').val();
      var password = $('#password').val();
      gachi.emailLogin(email, password);
      return false;
    })

    $('#facebook_login').click(gachi.facebookLogin);
  </script>

</body>

</html>