@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.famefestival_link{
  width:100%;
  height:100%;
  text-decoration: none;
}
.famefestival_image{
  width:100%;
  height:48vw;
  background-position: center;
  background-size:cover;
  overflow: hidden;
}
.famefestival_info{
  width:100%;
  height:100px;
}
.famefestival_title{
  width:calc(100% - 10px);
  margin-left:auto;
  margin-right:auto;
  height:20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:13px;
  font-weight:500;
  color:#484848;
  text-align: left;
  padding-top:10px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap:break-word;
}
.famefestival_date{
  width:calc(100% - 10px);
  margin-left:auto;
  margin-right:auto;
  height:20px;
  line-height: 20px;
  text-align:left;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:13px;
  color:#888c92;
}
.famefestival_genre{
  width:calc(100% - 10px);
  margin-left:auto;
  margin-right:auto;
  height:20px;
  line-height: 20px;
  text-align:left;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:13px;
  color:#888c92;
}

#famefestival_word{
  width:calc(100% - 30px);
  height:30px;
  margin-top:45px;
  margin-bottom:5px;
  margin-left:auto;
  margin-right:auto;
  height:40px;
  border-bottom:1px solid #D9D9D9;
}
#famefestival_title{
  color:#484848;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:600;
  font-size:23px;
  float:left;
  height:50px;
  /* border-bottom:1px solid #484848; */
}
#famefestival_description{
  color:#888c92;
  font-family:"Nanum Barun Gothic";
  font-size:11px;
  float:left;
  line-height:23px;
  margin-left:7px;
}

#famefestival_more{
  float:right;
  margin-top:12px;
  cursor: pointer;
  text-decoration: none;
}

#famefestival_more_word{
  color:#484848;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:14px;
  float:left;
  font-weight: 300;
}

#famefestival_more_arrow{
  width:12px;
  height:12px;
  float:left;
  margin-top:4px;
  margin-left:5px;

  overflow:hidden;
  background-position:center;
  background-size:cover;
}


#famefestival {
  width: 100%;
  height: 300px;
  margin: 20px auto;
  width: calc(100% - 30px);
  height: calc(60vw + 55px);
}


@media  screen and (min-width:500px){
  .famefestival_image{
    height:34vw;
  }
}

@media  screen and (min-width:700px){
  .famefestival_image{
    height:22vw;
  }
}

@media  screen and (min-width:1080px){
  #famefestival_word{
    width:1080px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
  }
  #famefestival_title{
    margin-left:0px;
    font-size:20px;
  }
  #famefestival_description{
    font-size:14px;
  }
  #famefestival_buttons{
    display: block;
  }
  #famefestival{
    width:1080px;
    height:380px;
    margin-left:auto;
    margin-right:auto;
  }
  .famefestival_image{
    height:247px;
  }
  .famefestival_info{
    width:100%;
    height:50px;
  }
  .famefestival_title{
    width:100%;
    height:25px;
    font-size:15px;
  }
  .famefestival_partner{
    height:13px;
    font-size:12px;
    margin-top:10px;
  }
}