  <div id="nav_level1">
    <img id="logo" src="/image/nav/logo.png">
    <div id="nav_right">
      <a class="nav_info">
        소개
      </a>
      <a class="nav_info">
        회원가입
      </a>
      <a class="nav_info">
        로그인
      </a>
    </div>
  </div>
