<div id="nav_level1_all">
  <div id="nav_level1">
    <a id="logo_image" href="/" style="background-image:url('/image/gachi_logo1.png')"></a>
    <a id="logo_gachi" href="/">GACHI</a>

    <div id="nav_right">

      <a v-if="user == ''" id="nav_login" class="nav_info" href="/login">
        로그인
      </a>

      <div v-if="user" id="nav_logout" v-on:click="logout" class="nav_info logout" >
        로그아웃
      </div>

      <a id="nav_search" href="/search" style="background-image:url('/image/search_black.png')">
      </a>

      <div v-if="user" v-on:click="is_open" id="noprofile" style="background-image:url('/image/nav/noprofile.png')">
      </div>



    </div>
  </div>
</div>

<script src="/js/common/common.js"></script>
<script src="/js/common/firebase.js"></script>

<script>
  var nav_level1 = new Vue({
    el: '#nav_level1',
    data: {
      user: "",
      isopen: false,
    },
    created: function () {
      gachi.initFirebaseApp();
      gachi.retrieveUserInfo(false).then(this.onUserLogin);
    },
    methods: {
      onUserLogin: function (user) {
        this.user = user;
      },
      logout: function (event) {
        firebase.auth().signOut().then(function () {
          // Sign-out successful.
          location.href = "/";
        }, function (error) {
          // An error happened.
        });
      },
      is_open: function (event) {
        this.isopen = !this.isopen;
      }
    },
  });

</script>
