<form action="/search" method="get">

  <div id="search_all">

    <div id="search_icon" style="background-image:url('/image/nav/search_icon.png')">
    </div>

    <input id="search" type="search" name="term" placeholder="가고싶은 공연을 검색해보세요" onfocus="this.placeholder = ''">

  </div>

</form>
