#login_all{
  width:calc(100% - 30px);
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
}

#gachi_logo{
  display:block;
  width:120px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:35px;
}

#email{
  width:100%;
  height:50px;
  border:1px solid #d4d4d4;
  border-radius:0px;
  font-size:17px;
  padding-left:15px;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#password{
  width:100%;
  height:50px;
  border:1px solid #d4d4d4;
  border-radius:0px;
  font-size:17px;
  padding-left:15px;
  box-sizing:border-box;
  margin-top:15px;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#remeber{
  width:100%;
  height:16px;
  position: relative;
  margin-bottom:20px;
  margin-top:15px;
}

.primaryAction{
  width:100%;
  height:58px;
  background-color:#4f2cfa;
  margin-top:10px;
  color:white;
  font-size:17px;
  border:none;
  font-family:"NanumGothic";
  font-weight:500;
  border-radius:2px;
  cursor:pointer;
}

.primaryAction:hover{
  opacity:0.85;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  width:99%;
  height:58px;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#reg_find{
  width:100%;
  height:20px;
  padding-top:15px;
  margin-bottom:30px;
}

.register{
  text-decoration:none;
  color:#888;
  font-family: "NanumGothic";
  border-bottom:1px solid #d4d4d4;
  font-size:15px;
}

.find{
  text-decoration:none;
  color:#888;
  float:right;
  font-family: "NanumGothic";
  border-bottom:1px solid #d4d4d4;
  font-size:15px;
}

#facebook_login{
  position:relative;
  width:100%;
  height:58px;
  list-style:none;
  border:1px solid transparent;
  border-radius:2px;
  display:block;
  text-decoration: none;
  background-color:#385CAF;
}

#facebook_login:hover{
  opacity:0.85;
}

#facebook_login img{
  width:58px;
  height:58px;
  position:absolute;
  top:0;
  left:0;
  border-radius:2px;
}

#facebook_login p{
  width:100%;
  height:100%;
  display:block;
  color:#fff;
  text-decoration:none;
  line-height:58px;
  font-weight:500;

  margin-top:0px;
  margin-left:0px;
  text-align: center;
  font-size:17px;
  font-family: 'Noto Sans KR', sans-serif;
}

@media  screen and (min-width:440px){
  #login_all{
    width:440px;
  }
  #gachi_logo{
    width:170px;
    margin-top:50px;
    margin-bottom:50px;
  }
}
