#signup_all{
  width:calc(100% - 30px);
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
h1{
  width:100%;
  font-size:30px;
  font-weight:400;
  font-family: 'Noto Sans KR', sans-serif;
  color:#444;
  text-align: center;
  margin-bottom:20px;
}

#nickname{
  width:100%;
  height:50px;
  border:1px solid #d4d4d4;
  border-radius:0px;
  font-size:17px;
  padding-left:15px;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-top:15px;
}

#email{
  width:100%;
  height:50px;
  border:1px solid #d4d4d4;
  border-radius:0px;
  font-size:17px;
  padding-left:15px;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-top:15px;
}

#password{
  width:100%;
  height:50px;
  border:1px solid #d4d4d4;
  border-radius:0px;
  font-size:17px;
  padding-left:15px;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-top:15px;
}

#submit_button{
  width:100%;
  height:58px;
  background-color:#4f2cfa;
  color:white;
  font-size:17px;
  border:none;
  font-family:"NanumGothic";
  font-weight:500;
  border-radius:2px;
  cursor:pointer;
  margin-top:30px;
  margin-bottom:20px;
}

#submit_button:hover{
  opacity:0.85;
}

@media  screen and (min-width:440px){
  #signup_all{
    width:440px;
    margin-top:40px;
  }
}
