<!DOCTYPE html>
<html>

<head>

  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include ../common/common.ejs %>

  <!--6-2 인기 페스티벌 css-->
  <link href="/css/main_page/swiper.css" rel="stylesheet" type="text/css" />
  <link href="/css/main_page/famefestival.css" rel="stylesheet" type="text/css" />
  <link href="/css/main_page/soonfestival.css" rel="stylesheet" type="text/css" />
  <link href="/css/footer/footer.css" rel="stylesheet" type="text/css" />

  <!-- awesome swiper -->
  <script src="/vue/vue-awesome-swiper.min.js"></script>

</head>

<body>
  <% include ../nav/nav_level1.ejs %>

  <% include ../nav/nav_level4.ejs %>

  <% include ../nav/nav_level2.ejs %>

  <% include /famefestival.ejs %>

  <% include /soonfestival.ejs %>

  <% include ../footer/footer.ejs %>

</body>

</html>
