
textarea:focus, input:focus{
    outline: none;
}
/*
/* container */
/* .container {
  padding: 5% 5%;
} */

/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: auto;
	height: auto;
	background-color: lightyellow;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
/* .tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
} */


/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.chat-time{
  display: none;
}
.chat-text span{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:6px;
  padding-right:6px;
  border:1px solid #888c92;
  border-radius: 5px;
}
#chat-container {
  font-family: 'Noto Sans KR', sans-serif;
  height:calc(100vh - 158px);
  overflow-y: auto;
  padding-top:20px;
}
.chat-messages{
  width:calc(100% - 30px);
  margin-left:auto;
  margin-right:auto;
}
#chat-send{
 width:100%;
 height:40px;
 background-color: #ececec;
 position: fixed;
 bottom:0px;
}
#message_input{
  display: block;
  border:none;
  border:1px solid #dbdbdb;
  border-radius:5px;
  height:26px;
  margin-top:7px;
  width:calc(100% - 61px);
  margin-left:15px;
  float:left;
}
#send-message{
  float:right;
  margin-right:15px;
  height:26px;
  line-height: 26px;
  margin-top:7px;
}
.chat-profile img{
  display: none;
}
.chat-nickname{
  display: none;
}
.chat-item{
  width:100%;
  height:auto;
  min-height:20px;
  line-height: 20px;
  margin-bottom:20px;
}
.chat-item .chat-text{
  max-width:200px;
}
.chat-other .chat-text{
  float:left;
}

.chat-mine .chat-text{
  float:right;
}
.chat-other .chat-text span{
  color:#727272;
  border-color:#4f2cfa;
  display:block;
}

.chat-mine .chat-text span{
  background-color:yellow;
  display:block;
  color:#727272;
  background-color: #EDEDED;
  border-color:transparent;
}

@media  screen and (min-width:426px){
  .chat-messages{
    margin-left:auto;
    margin-right:auto;
  }
}
