#create-chat-container {
  font-family: 'Noto Sans KR', sans-serif;
}


span.checked {
  background-color:#4f2cfa;
  color:#fff;
  border-color: #4f2cfa;
}

span.not-checked {
  color:rgb(164, 170, 179);
  background-color: white;
  border-color: rgb(164, 170, 179);
}

#characteristic-box > span, #location-box > span, #age-box > span {
  font-size: 16px;
  font-weight: bold;
}

span.characteristic-item, span.age-item, span.location-item {
  /* line-height: 20px; */

/*  font-size:10px;
  padding-left:5px;
  padding-right:5px;
  cursor: default;

  height:28px;
  font-weight:300;

  margin-right:5px;
  padding-left:7px;
  padding-right:7px;
  width:fit-content;

  border-radius: 10px;
  border-style: solid;
  border-width: 1px;*/
}



#create_word{
  width:calc(100% - 30px);
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:600;
  color:#242424;
  margin-bottom:30px;
}

.box{
  width:calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  height:20px;
  line-height: 20px;
  border-bottom:1px solid #ececec;
  box-sizing: border-box;
  margin-top:15px;

}
.image{
  width:16px;
  height:16px;
  float:left;

  background-position: center;
  background-size:cover;
  overflow: hidden;
}
.input{
  width:calc(100% - 26px);
  float:left;
  display: block;
  font-size:14px;
  border:none;
  margin-left:10px;
}
#age-box{
  margin-top:30px;
}
#age_word{
  width:calc(100% - 30px);
  font-size:16px;
  font-weight: 500;
  height:15px;
  line-height: 15px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:15px;
}
#age_select_box{
  width:100%;
  padding-top:15px;
  padding-bottom: 15px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #f9f9f9;
}
#age_select_box_inner{
  width:calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
}
.items{
  display:inline-block;
  margin-right:5px;
  border:1px solid #888c92;
  border-radius:50px;
  font-size:14px;
  padding-left:8px;
  padding-right:8px;
  padding-top:3px;
  padding-bottom:3px;
  margin-bottom:10px;
  color:#888c92;
}

#create-chatroom {
  border:none;
  color: white;
  display: block;
  width:100%;
  height:50px;
  line-height: 50px;
  color:#fff;
  background-color: #4f2cfa;
  text-align: center;
  font-size:18px;
  margin-top:45px;
  cursor: pointer;
}
#create-chatroom:hover{
  opacity: 0.85;
}
textarea:focus, input:focus{
    outline: none;
}

#festival{
  display: none;
}

@media  screen and (min-width:890px){
  #create_word{
    width:890px;
  }
  #create-chat-container{
    width:890px;
    margin-left: auto;
    margin-right: auto;
  }
  #age-box{
    margin-top:50px;
  }
  #age_word{
    width:1080px;
  }
  #create-chatroom {
    margin-bottom:50px;
  }
}
