<!DOCTYPE html>
<html>

<head>
  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include ../common/common.ejs %>

  <link href="/css/chat/chatroom.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <% include ../nav/nav_level1.ejs %>

    <div id="chat-container">
    </div>

    <script>
      var chatroom = new Vue({
        el: '#chat-container',
        data: {
          leadroom: null,
          user: null,
          fetched: false
        },
        created: function () {
          gachi.retrieveUserInfo(true).then(function (user) {
            this.user = user;
            this.fetchLeadroomInfo("<%=lid %>");
          }.bind(this));
        },
        methods: {
          sendMessage: function (message) {

          },
          getChatroom: function () {

          },
          fetchLeadroomInfo: function (lid) {
            $.ajax({
              type: 'GET',
              url: gachi.GACHI_URL + 'v1/leadroom/' + lid,
              dataType: 'json'
            }).then(function (leadroom) {
              console.log(leadroom);
              this.leadroom = leadroom;
              this.fetched = true;
            }.bind(this)).fail(function (error) {
              console.error(JSON.stringify(error));
            })
          },
          moment: function (date) {
            return moment(date);
          }
        }
      });
    </script>
</body>

</html>