<!DOCTYPE html>
<html>

<head>
  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include ../common/common.ejs %>

    <link href="/css/chat/chatroom.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <% include ../nav/nav_level1.ejs %>

    <% include ../nav/nav_level4.ejs %>

      <div id="chat-container" v-cloak>
        <div class="chat-messages">
          <div class="chat-item" v-for="message in messages">
            <div class="chat-text"><span>{{message.text}}</span></div>
            <div class="chat-time"><span>{{message.timestamp}}</span></div>
            <div class="chat-profile"><img v-bind:src="findProfileURL(message.userid)">
              <div class="chat-nickname"><span>{{message.nickname}}</span></div>
            </div>

          </div>
        </div>
        <form v-on:submit.prevent="sendMessage" id="chat-send">
          <input type="text" v-model="messageToSend" v-on:keyup.enter="sendMessage">
          <button id="send-message" v-on:click="sendMessage" v-bind:disabled="messageToSend === ''">보내기</button>
        </form>
      </div>

      <script>
        var chatroom = new Vue({
          el: '#chat-container',
          data: {
            messageToSend: '',
            leadroom: null,
            user: null,
            fetched: false,
            chatroomRef: null,
            messages: []
          },
          created: function () {
            gachi.retrieveUserInfo(true).then(function (user) {
              this.user = user;
              this.fetchLeadroomInfo("<%=lid %>");
            }.bind(this));
          },
          methods: {
            sendMessage: function () {
              if (this.messageToSend === '') {
                return;
              }
              this.chatroomRef.push({
                text: this.messageToSend,
                userid: this.user.uid,
                username: this.user.nickname,
                timestamp: Date.now()
              }).then(function () {
              }.bind(this)).catch(function (err) {
                console.error(err);
              });
              this.messageToSend = '';
            },
            findProfileURL: function (uid) {
              const EMPTY_IMAGE = '';
              return _.get(_.find(this.leadroom.member, { uid }), 'profile_image', EMPTY_IMAGE);
            },
            processNewMessage: function (message) {
              let value = message.val();
              this.messages.push(value);
            },
            getChatroom: function (leadroom_id) {
              this.chatroomRef = firebase.database().ref('chat/' + leadroom_id + '/msg');
              this.chatroomRef.on('child_added', function (dataSnapshot) {
                this.processNewMessage(dataSnapshot);
              }.bind(this));
            },
            fetchLeadroomInfo: function (lid) {
              $.ajax({
                type: 'GET',
                url: gachi.GACHI_URL + 'v1/leadroom/' + lid,
                dataType: 'json'
              }).then(function (leadroom) {
                console.log(leadroom);
                this.leadroom = leadroom;
                this.getChatroom(leadroom.leadroom_id);
                this.fetched = true;
              }.bind(this)).fail(function (error) {
                console.error(JSON.stringify(error));
              });
            },
            moment: function (date) {
              return moment(date);
            }
          }
        });
      </script>
</body>

</html>