<!DOCTYPE html>
<html>

<head>
  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include /common/common.ejs %>

    <link href="/css/chat/create.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <% include ../nav/nav_level1.ejs %>

    <% include ../nav/nav_level4.ejs %>

      <script>
        const ageList = [

        ];
        const ageList = [];
        const locationList = [];
      </script>

      <div id="create-chat-container" v-cloak v-if="fetched">
        <form v-on:submit.prevent="createChatroom" id="create-form">
          <span id="festival"></span>
          <input type="text" id="max_member" />
          <input type="text" id="detail" />
          <input type="text" id="datetime" />
          <div id="age"></div>
          <div id="characteristic"></div>
          <div id="location"></div>
          <button id="create-chatroom" v-on:click="submit"></button>
        </form>
      </div>

      <script>
        var detail = new Vue({
          el: '#create-chat-container',
          data: {
            fetched: false,
            festival: null,
          },
          created: function () {
            this.fetchFestivalInfo("<%=fid %>");
          },
          methods: {
            validateDuration: function () {

            },
            createChatroom: function () {

            },
            fetchFestivalInfo: function (fid) {
              $.ajax({
                type: 'GET',
                url: gachi.GACHI_URL + 'v1/festival/' + fid,
                dataType: 'json'
              }).then(function (festival) {
                console.log(festival);
                this.festival = festival;
                this.fetched = true;
              }.bind(this)).fail(function (error) {
                console.error(JSON.stringify(error));
              })
            },
            moment: function (date) {
              return moment(date);
            }
          }
        });
      </script>
</body>

</html>