<div id="info-container" v-cloak v-if="fetched">
  <div id="info_top">
  <div id="title">가치 정보</div>

  <div id="room_title">
    {{leadroom.festival.title}}
  </div>
  <span id="room_number">
    {{leadroom.max_follower}}명 모집중
  </span>

  <div id="profile_image" style="background-image:url('/image/info/noprofile.png')">
  </div>

  <div id="info_nickname">
    {{leadroom.leader.nickname}}
  </div>

  <div id="info_location">
    {{leadroom.location}}
  </div>

  <div id="info_detail">
    {{leadroom.age}}
  </div>
</div>
<div id="info_tag">
  <span>#{{leadroom.max_follower}}명 모집중</span>
  <span>#{{leadroom.age}}</span>
  <span>#{{leadroom.characteristic}}</span>
  <div style="clear:both;">

  </div>
</div>

<div id="info_info">
  <div id="info_innner">
    {{leadroom.festival.detail}}
  </div>
</div>

  <div class="info-leader">
    <div class="leader-rel"></div>
    <div class="leader-profile">
      <img src="" class="leader-img">
      <span> {{leadroom.leader.nickname}}</span>
    </div>
  </div>
  <div class="info-detail">
    <span> {{leadroom.detail}} </span>

    <div id="detail-more" v-on:click="showMore" v-if="showMoreDiv">
      더보기
    </div>
    <div id="detail-less" v-on:click="showLess" v-if="showLessDiv">
      접기
    </div>
  </div>
  <div class="info-location"> <span> #{{leadroom.location}} </span></div>
  <div class="info-tag">
    <span> #{{leadroom.characteristic}} </span>
    <span> #{{leadroom.age}} </span>
  </div>
  <!--  <div class="info-date"> {{moment(leadroom.lead_from).format('MM/DD/HH')}} ~ {{moment(leadroom.lead_until).format('MM/DD/HH')}}</div> -->
  <div class="info-number"> {{leadroom.max_follower}} </div>

  <div class="member-list">
    <div class="member-text">
      이 방에 참여한 사람들  <span>{{leadroom.numMembers}}</span>
    </div>

    <div id="members" v-for="member in leadroom.member">
      <div class="member-item">
        <div class="leadroomimage" style="background-image:url('/image/info/noprofile.png')"></div>
        <div class="member-nickname">{{member.nickname}}</div>
      </div>
      <div style="clear:both;">

      </div>
    </div>
    <button class="request-btn" v-bind:disabled="isDisabled" v-on:click="sendRequest">가치하기</button>
  </div>
</div>
