<!DOCTYPE html>
<html>

<head>
  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include ../common/common.ejs %>

    <link href="/css/chat/list.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <% include ../nav/nav_level1.ejs %>

    <% include ../nav/nav_level4.ejs %>
      <div class="content-container">
        <div class="sub-title-group">
          <span class="sub-title">채팅 리스트</span>
        </div>
        
        <div id="chatroom-list">
          <div class="chatroom">
            <a>
              <div class="chatroom listitem">
                <image class="leader_profile" width="69px" height="69px"></image>
                <div class="chatroom-info">
                  <div class="detail-wrapper">
                    <div class="chatroom-detail">
                      <span class="chatroom-member badge">5명 가치중</span>
                    </div>
                    <div class="chatroom-message">건대에서 만나서가요!</div>
                  </div>
                  <div class="chatroom-time"><span>오후 1:00</span><span class="chatroom recruit"></span></div>
                </div>
              </div>
            </a>
          </div>

          <div class="chatroom">
            <a>
              <div class="chatroom listitem">
                <image class="leader_profile" width="69px" height="69px"></image>
                <div class="chatroom-info">
                  <div class="detail-wrapper">
                    <div class="chatroom-detail">
                      <span class="chatroom-member badge">5명 가치중</span>
                    </div>
                    <div class="chatroom-message">건대에서 만나서가요!</div>
                  </div>
                  <div class="chatroom-time"><span>오후 1:00</span><span class="chatroom recruit"></span></div>
                </div>
              </div>
            </a>
          </div>

          <div class="chatroom" v-for="room in chatrooms">
            <a v-bind:href="'./chat/'+ room.leadroom_id">
              <div class="chatroom listitem">
                <image class="chatroom leader_profile"></image>
                <div class="chatroom roominfo">
                  <div class="detail-wrapper">
                    <div class="chatroom detail">
                      <div class="chatroom member"></div>
                    </div>
                    <div class="chatroom message"></div>
                  </div>
                  <div class="chatroom time"><span></span><span class="chatroom recruit"></span></div>
                </div>
              </div>
            </a>
          </div>
        </div>    
      </div>
      <script>
        var chatroomList = new Vue({
          el: '#chatroom-list',
          data: {
            chatrooms: []
          },
          created: function () {
            gachi.retrieveUserInfo(true).then(this.processLeadroomsFromUser);
          },
          methods: {
            createProcessingPromisesForChatrooms: function (leadrooms) {
              let promises = _.map(leadrooms, function (leadroom) {
                let chatroomId = leadroom.leadroom_id;
                let chatroomMSG = firebase.storage().ref('chat/' + chatroomId + '/msg');
                let recentPromise = chatroomMSG.orderByChild("timestamp").limitToLast(1).once();
                return new Promise(function (resolve, recent) {
                  let processed = recentPromise.then(function (msg) {
                    _.set(leadroom, 'recentMsg', msg);
                    return leadroom;
                  }).catch(reject);
                  resolve(processed);
                });
              });
              return promises;
            },
            processLeadroomsFromUser: function (user) {
              let promises = this.createProcessingPromisesForChatrooms(user.leadrooms);
              Promise.all(promises).then(function (processedRooms) {
                this.chatrooms = processedRooms;
              }.bind(this));
            },
            moment: function (date) {
              return moment(date);
            }
          }
        });
      </script>
</body>

</html>