<!DOCTYPE html>
<html>

<head>

  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include ../common/common.ejs %>

  <!--6-2 인기 페스티벌 css-->
  <link href="/css/main_page/swiper.css" rel="stylesheet" type="text/css" />
  <link href="/css/main_page/famefestival.css" rel="stylesheet" type="text/css" />
  <link href="/css/main_page/soonfestival.css" rel="stylesheet" type="text/css" />
  <link href="/css/info_modify/info_modify.css" rel="stylesheet" type="text/css" />
  <link href="/css/info_modify/profile/profile.css" rel="stylesheet" type="text/css" />
  <link href="/css/info_modify/password/password.css" rel="stylesheet" type="text/css" />

  <!-- awesome swiper -->
  <script src="/vue/vue-awesome-swiper.min.js"></script>
</head>

<body>
  <% include ../nav/nav_level1.ejs %>

<div id="info_nav">
  <div class="info_tab">
    프로필
  </div>
  <div class="info_tab">
    비밀번호
  </div>
</div>

<% include ../info_modify/profile/profile.ejs %>

<% include ../info_modify/password/password.ejs %>


<script>
  $('.info_tab').eq(0).css('color','#4f2cfa');
  $('.info_tab').eq(0).css('border-color','#4f2cfa');

  $('.info_tab').click(function (){
    var index = $('.info_tab').index(this);

    $('.info_tab').css('color','#686868');
    $('.info_tab').css('border-color','transparent');

    $('.info_tab').eq(index).css('color','#4f2cfa');
    $('.info_tab').eq(index).css('border-color','#4f2cfa');

    $('.info_modify_content').css('display','none');
    $('.info_modify_content').eq(index).css('display','block');

  })
</script>

</body>
</html>
