<!DOCTYPE html>
<html>

<head>

  <!--
  head에 기술하는 것은 다음 규칙에 따른다.
  1. 공통 head
  7. 페이지별 스타일 시트
  8. 구글 애널리틱스
  9. 페이스북 픽셀
  10. JS
    -->

  <% include ../common/common.ejs %>

  <!--6-2 인기 페스티벌 css-->
  <link href="/css/main_page/swiper.css" rel="stylesheet" type="text/css" />
  <link href="/css/main_page/famefestival.css" rel="stylesheet" type="text/css" />
  <link href="/css/main_page/soonfestival.css" rel="stylesheet" type="text/css" />
  <link href="/css/info_modify/info_modify.css" rel="stylesheet" type="text/css" />

  <!-- awesome swiper -->
  <script src="/vue/vue-awesome-swiper.min.js"></script>
</head>

<body>
  <% include ../nav/nav_level1.ejs %>
<div id="wrapper">


  <div id="photo">
    <div id="profile_image" v-bind:style="{'background-image' :'url('+profile_image+')'}">
    </div>
    <div id="profile_modify" style="background-image:url('/image/info/photo_modify.png')">
    </div>
  </div>

  <div id="profile_all">

    <div id="nickname_all">
      <div id="nickname_word">
        닉네임
      </div>
      <input id="nickname_input" type="text" name="" v-model="user.nickname" placeholder="닉네임을 입력해주세요">
    </div>

    <div id="intro_all">
      <div id="intro_word">
        한줄 소개
      </div>
      <input id="intro_input" type="text" name=""  placeholder="간단히 자기소개를 적어주세요">
    </div>

  </div>

  <div id="profile_save" v-on:click="profile_save">
    저장하기
  </div>

</div>

<script>
var wrapper = new Vue({
  el: '#wrapper',
  data: {
    user: "",
  },

  created: function () {
    gachi.retrieveUserInfo(false).then(this.onUserLogin);
  },

  methods: {
    onUserLogin: function (user) {
      this.user = user;
    },

    profile_save: function (){

      var settings = {
        "async": false,
        "url": "http://cuponthetop.com/gachi/api/v1/user/"+this.user.uid,
        "method": "PATCH",
        "headers": {
          "authorization": this.user.token,
        },
        "data": {
          "nickname": this.user.nickname,
        },
        error: function(error){
          alert('에러');
        },
        success: function(data){
          alert('성공');
        }
      }
      $.ajax(settings);
    }

  },
  computed: {

    profile_image: function() {
      var profile_image;

      if (this.user.profile_image){
        profile_image = this.user.profile_image;
      }else{
        profile_image = '/image/info/noprofile.png';
      }

      return profile_image;
    },
  }
});
</script>
</body>
</html>
