*{
  margin:0px;
  padding:0px;
}

[v-cloak] {
  display: none;
}

#nav_level1_all{
  width:100%;
  height:56px;
  border-bottom:1px solid #F2F2F2;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
#nav_level1{
  width:calc(100% - 30px);
  height:56px;
  margin-left:auto;
  margin-right:auto;
}
#logo_image{
  width:26px;
  height:26px;
  margin-top:15px;
  float:left;
  overflow:hidden;
  background-size:cover;
  background-position: center;
  display:block;
}
#logo_gachi{
  margin-top:10px;
  display:block;
  width:50px;
  height:36px;
  line-height: 40px;
  font-family: 'Baloo Bhaina', cursive;
  text-decoration: none;
  font-size:24px;
  float:left;
  margin-left:10px;
  color:#242424;
}

#nav_right{
  float:right;
}

#nav_login{
  color:#424242;
  font-family: 'Noto Sans KR', sans-serif;
  height:56px;
  line-height: 53px;
  text-decoration: none;
  font-size:13px;
  font-weight:400;
  float:left;
}

#nav_logout{
  display: none;
}

#nav_search{
  width:16px;
  height:16px;
  margin-top:20px;

  background-position: center;
  background-size:cover;
  overflow: hidden;
  display: block;
  float:left;
  margin-left:20px;
}

@media  screen and (min-width:1080px){
    #nav_level1_all{
      width:1080px;
      height:64px;
    }
    #nav_level1{
      width:1080px;
      height:64px;
    }
    #logo_image{
      margin-top:19px;
    }
    #logo_gachi{
      margin-top:14px;
      height:36px;
      line-height: 40px;
      font-size:27px;
    }
    #nav_login{
      font-size:17px;
      height:64px;
      line-height: 57px;
      font-weight: 300;
    }
    #nav_search{
      width:26px;
      height:26px;
      margin-top:17px;
    }

    .nav_info{
      float:left;
      margin-left:35px;
      line-height:35px;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight:300;
      color:#484848;
      text-decoration: none;
    }
    .nav_email{
      color:#4f2cfa;
    }
    .logout{
      cursor:pointer;
    }
}
